---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} by Nigel Sampson</span>
  {{ content }}
  
  <div class="social section group">
    <a class="alignleft" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=nigelsampson"><img src="/content/images/twitter.png" alt="Tweet this" /></a>
    <a class="alignleft" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><img src="/content/images/facebook.png" alt="Share on Facebook" /></a>
    <a class="alignleft" target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"><img src="/content/images/google.png" alt="Share on Google+" /></a>
    <a class="alignleft" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}L&title={{ page.title }}&source={{ site.url }}{{ page.url }}"><img src="/content/images/linked-in.png" alt="Share on Linked In" /></a>
    <a class="alignleft" target="_blank" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}"><img src="/content/images/reddit.png" alt="Share on Reddit" /></a>
  </div>
</div>

<div class="related">
  <h2>Latest Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
