---
layout: nil
redirect_from: /blog/syndicate/rss
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ site.name | xml_escape }}</title>
		<description>{% if site.tagline %}{{ site.tagline | xml_escape }}{% endif %}</description>		
		<link>{{ site.url }}</link>
		<language>en</language>
		<pubDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
		<atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
		<lastBuildDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
		{% for post in site.posts limit:10 %}
			<item>
				<title>{{ post.title | xml_escape }}</title>
				<description>{{ post.content | xml_escape }}</description>
				<pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
				<link>{{ site.url }}{{ post.url }}</link>
				<guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
				<author>{{ site.author.email }} ({{ site.author.name }})</author>
				{% for tag in post.tags %}
				<category>{{ tag }}</category>
  				{% endfor %}
			</item>
		{% endfor %}
	</channel>
</rss>